/* Styles go here */

.print {
	font: 16px sans-serif;

}

.chart-container {
	border: 1px dotted black;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.svg-container {
	border: 1px dotted blue;
}

/*
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: top;
	overflow: hidden;
}

.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}
*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
/*
.axis {
	font: 14px sans-serif;
}
*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.label {
	text-anchor: middle;
	font: 16px sans-serif;
}

.title {
	text-anchor: middle;
	font: 20px sans-serif;
	text-decoration: underline;
}

.area {
	fill: salmon;
}

.area_above {
	fill: steelblue;
}
.area_under {
	fill: salmon;
}

.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}
	
.bar {
	fill: steelblue;
}

rect.bar {
	fill: steelblue;
}

